<div class="jumbotron mt-4">
    <h1 class="display-4">Notes App NodeJS and MongoDB</h1>
    <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus aliquid, nulla error labore porro obcaecati!</p>
    <hr class="my-4">
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Iure accusamus nemo deserunt adipisci incidunt dolore laboriosam ipsa dolorum cum? Minus!</p>
    <a href="https://www.faztweb.com" class="btn btn-primary">FaztWeb</a>
</div>